<!doctype html>
<html>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
<style>
@font-face { font-family: Montserrat; font-weight: 300; src: url("{{ site.base_url }}/montserrat/Montserrat-Light.otf") format("opentype") }
@font-face { font-family: Montserrat; src: url("{{ site.base_url }}/montserrat/Montserrat-Regular.otf") format("opentype") }
body { font-family: Montserrat; font-weight: 300 }
h1, h2, h3, h4, h5, h6 { font-weight: 400 }
p.photo > img { width: 200px; margin-top: 20px; }
</style>

<body>

<div class="container-fluid">
{{ content }}
</div>
